<!DOCTYPE html>
<html>
<head>
  <title>Rpanel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if admin? %>

	<style type="text/css">
		body {margin-top: 70px;}
	</style>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">rPanel</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <%= link_to(destroy_user_session_path, class: "btn btn-danger navbar-btn pull-right", :method => :delete) do %>
          	<i class="fa fa-sign-out"></i> Wyloguj
          <% end %>
          	<p class="navbar-text pull-right">Signed in as <strong>Mark Otto</strong></p>

        </div><!--/.nav-collapse -->
      </div>
    </div>
<% end %>
<div class="container"><%= yield %></div>
<% if admin? %>
<div id="footer">
  <div class="container">
    <p class="text-muted">&copy; Riffdiktator.com 2014</p>
  </div>
</div>
<% end %>
</body>
</html>
